
.outer-body{
    width: 100%;
    height: 100%;
    background-color: rgb(252, 239, 223);
    /* background: (45deg, rgb(7, 7, 173), rgb(76, 82, 175)); */
    
    }
.card{
    background-color: rgb(199, 138, 138);
    color: white;
}

.outer-body nav{
    background-color: rgb(198, 146, 247);
    /* color: red;  color not setting?? even with !important */
}


.row{
    /* display: flex;
    align-items: center; */
    margin: 30px;
    
}

.form-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    /* background-color: red; */
}
form{
    width: 50%;
    padding: 16px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 20px;
    background-color: rgb(247, 246, 246);
}

body nav .nav-item{
   margin-right: 40px;
   /* color: rgb(203, 203, 206); */ /* not chnaging font color ???? */

}

body nav .nav-item :hover {
    color: rgb(226, 226, 226) !important;
 }



 @media screen and (max-width:700px) {
    form{
        width: 90%;
    }
}
